<form class="" action="/bookmarks" method="post">
  <input type="submit" name="view_bookmarks" value="view_bookmarks">
</form>

<form class="" action="/add-bookmark" method="get">
  <input type="submit" name="add_bookmark" value="add bookmark">
</form>
